.aboutpage {
  display: flex;
  margin: 12em;
  gap: 10em;
}

.aboutpage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.aboutpage-title {
  font-size: 4rem;
}

.aboutpage-title {
  gap: 3em;
}

.aboutpage-header {
  font-size: 1.5rem;
}

#profile-picture {
  width: 20rem;
  height: 25rem;
  border-radius: 50%;

}