.aboutpage {
  display: flex;
  flex-direction: column;
  margin: 0 6em;
  padding: 5em 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.aboutpage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutpage-description {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.aboutMe {
  font-size: 2.5em;
}

.skills-icons {
  margin: 1em 2em;
  height: 5%;
  width: 5%;
}

#profile-picture {
  width: 20rem;
  height: 25rem;
  border-radius: 50%;
  margin-right: 2em;
}

