.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #28333c;
}

.header-links {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}

.header-links a {

}

