.work-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 10em;
  padding: 5em 0;
  border-bottom: 1px solid #bbbbbb;
}

.work-header {
  font-size: 2.5em;
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.work-experience-card {
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 10px #000;
}

.job-title {
  font-style: italic;
  padding-left: 0.8em;
  margin-bottom: 0.2em;
}

.company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.company span {
  font-size: 0.8em;
}


@media (max-width: 700px) {
  .work-container {
    margin: 4rem 1.5rem 0;
    padding: 0;
  }
  .work-header {
    font-size: 2.5rem;
  }

  .job-title {
    padding: 0;
  }

  .job-date {
    font-size: 0.3em !important;
  }
}

